

.YYImageAnimation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    animation: myfirst 2s linear infinite;
    /*transform-origin: 50% 50%;*/
    background: url("../image/comps/Comp 1_00000.png") no-repeat  ;
    background-size: cover;
}

@keyframes myfirst {
    0%   {background: url("../image/comps/Comp 1_00000.png") no-repeat;background-size: cover;}
    10%  {background: url("../image/comps/Comp 1_00001.png") no-repeat;background-size: cover;}
    20%  {background: url("../image/comps/Comp 1_00002.png") no-repeat;background-size: cover;}
    30%  {background: url("../image/comps/Comp 1_00003.png") no-repeat;background-size: cover;}
    40%   {background: url("../image/comps/Comp 1_00005.png") no-repeat;background-size: cover;}
    50%  {background: url("../image/comps/Comp 1_00006.png") no-repeat;background-size: cover;}
    60%  {background: url("../image/comps/Comp 1_00007.png") no-repeat;background-size: cover;}
    70%  {background: url("../image/comps/Comp 1_00008.png") no-repeat;background-size: cover;}
    80%   {background: url("../image/comps/Comp 1_00009.png") no-repeat;background-size: cover;}
    90%  {background: url("../image/comps/Comp 1_000010.png") no-repeat;background-size: cover;}
    100%  {background: url("../image/comps/Comp 1_000011.png") no-repeat;background-size: cover;}

}