.EmitterCSSAnimationContainer {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 400px;
  perspective: 400px;
  /*overflow: hidden;*/
}

.EmitterCSSAnimationContainer .layerzoom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  -webkit-animation: zoom 20s linear infinite;
          animation: zoom 20s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.EmitterCSSAnimationContainer .layerscale {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  -webkit-animation: scale 20s linear infinite;
          animation: scale 20s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.layerscale:nth-child(1) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.layerscale:nth-child(2) {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.layerscale:nth-child(3) {
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
}

.layerscale:nth-child(4) {
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
}

.layerscale:nth-child(5) {
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

/*.layerscale:nth-child(6) {*/

/*animation-delay: -12s;*/

/*}*/

/*.layerscale:nth-child(7) {*/

/*animation-delay: -14s;*/

/*}*/

/*.layerscale:nth-child(8) {*/

/*animation-delay: -16s;*/

/*}*/

/*.layerscale:nth-child(9) {*/

/*animation-delay: -18s;*/

/*}*/

/*.layerscale:nth-child(10) {*/

/*animation-delay: -20s;*/

/*}*/

/*.layerscale:nth-child(11) {*/

/*animation-delay: -11s;*/

/*}*/

/*.layerscale:nth-child(12) {*/

/*animation-delay: -12s;*/

/*}*/

/*.layerscale:nth-child(13) {*/

/*animation-delay: -13s;*/

/*}*/

/*.layerscale:nth-child(14) {*/

/*animation-delay: -14s;*/

/*}*/

/*.layerscale:nth-child(15) {*/

/*animation-delay: -15s;*/

/*}*/

/*.layerscale:nth-child(16) {*/

/*animation-delay: -16s;*/

/*}*/

/*.layerscale:nth-child(17) {*/

/*animation-delay: -17s;*/

/*}*/

/*.layerscale:nth-child(18) {*/

/*animation-delay: -18s;*/

/*}*/

/*.layerscale:nth-child(19) {*/

/*animation-delay: -19s;*/

/*}*/

/*.layerscale:nth-child(20) {*/

/*animation-delay: -20s;*/

/*}*/

/*.layerscale:nth-child(21) {*/

/*animation-delay: -21s;*/

/*}*/

.layerzoom:nth-child(1) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.layerzoom:nth-child(2) {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.layerzoom:nth-child(3) {
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
}

.layerzoom:nth-child(4) {
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
}

.layerzoom:nth-child(5) {
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

/*.layerzoom:nth-child(6) {*/

/*animation-delay: -12s;*/

/*}*/

/*.layerzoom:nth-child(7) {*/

/*animation-delay: -14s;*/

/*}*/

/*.layerzoom:nth-child(8) {*/

/*animation-delay: -16s;*/

/*}*/

/*.layerzoom:nth-child(9) {*/

/*animation-delay: -18s;*/

/*}*/

/*.layerzoom:nth-child(10) {*/

/*animation-delay: -20s;*/

/*}*/

/*.layerzoom:nth-child(11) {*/

/*animation-delay: -11s;*/

/*}*/

/*.layerzoom:nth-child(12) {*/

/*animation-delay: -12s;*/

/*}*/

/*.layerzoom:nth-child(13) {*/

/*animation-delay: -13s;*/

/*}*/

/*.layerzoom:nth-child(14) {*/

/*animation-delay: -14s;*/

/*}*/

/*.layerzoom:nth-child(15) {*/

/*animation-delay: -15s;*/

/*}*/

/*.layerzoom:nth-child(16) {*/

/*animation-delay: -16s;*/

/*}*/

/*.layerzoom:nth-child(17) {*/

/*animation-delay: -17s;*/

/*}*/

/*.layerzoom:nth-child(18) {*/

/*animation-delay: -18s;*/

/*}*/

/*.layerzoom:nth-child(19) {*/

/*animation-delay: -19s;*/

/*}*/

/*.layerzoom:nth-child(20) {*/

/*animation-delay: -20s;*/

/*}*/

/*.layerzoom:nth-child(21) {*/

/*animation-delay: -21s;*/

/*}*/

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: perspective(400px) translate3d(0, 0, -400px);
            transform: perspective(400px) translate3d(0, 0, -400px);
  }

  100% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 400px);
            transform: perspective(400px) translate3d(0, 0, 400px);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: perspective(400px) translate3d(0, 0, -400px);
            transform: perspective(400px) translate3d(0, 0, -400px);
  }

  100% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 400px);
            transform: perspective(400px) translate3d(0, 0, 400px);
  }
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: perspective(400px) translate3d(0, 0, -400px);
            transform: perspective(400px) translate3d(0, 0, -400px);
  }

  0% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 400px);
            transform: perspective(400px) translate3d(0, 0, 400px);
  }
}

@keyframes scale {
  100% {
    -webkit-transform: perspective(400px) translate3d(0, 0, -400px);
            transform: perspective(400px) translate3d(0, 0, -400px);
  }

  0% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 400px);
            transform: perspective(400px) translate3d(0, 0, 400px);
  }
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 1px;
  box-sizing: border-box;
  background-color: #fff;
}