html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  user-select: auto;
}

a,
input {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

input[type="button"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  border: 1px solid #dedede;
}

input[type="button"] {
  background: none;
  border: none;
  text-align: center;
}

.flex-cell {
  display: block;
  /* OLD */
  width: 100%;
  /* OLD */
}

.flex,
.flex-column {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex {
  -webkit-box-orient: horizontal;
  /* OLD */
  -moz-box-orient: horizontal;
  /* OLD */
  -ms-box-orient: horizontal;
  /* OLD */
  -webkit-flex-flow: row;
  flex-flow: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  /* OLD */
  -moz-box-orient: vertical;
  /* OLD */
  -ms-box-orient: vertical;
  /* OLD */
  -webkit-flex-flow: column;
  flex-flow: column;
}

.flex-cell {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* @import url(../../../common/static/mediaQuery.css); */

html,
body,
#ROOT {
  height: 100%;
}

.container {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

/*待机页面*/

.watingPage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/*开关页面*/

.diveceView {
  height: 65%;
  background-color: rgba(56,173,255,1);
  position: relative;
  left: 0;
  width: 100%;
}

/*动画*/

.watingPage .deviceWasherImage {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

.circleView {
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 0.1em;
  border: 0.66rem solid rgba(82,184,255,0.3);
}

.circleView_middle {
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 0.1em;
  border: 0.1rem solid rgba(255,255,255,0.3);
}

.circleView_inner {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 0.33em;
  background-color: rgba(37,165,255,1);
}

.circleView_inner.good {
  border: 0.33rem solid rgba(180, 224, 255, 1);
}

.circleView_inner.fine {
  border: 0.33rem solid rgba(247, 228, 123, 1);
}

.circleView_inner.bad {
  border: 0.33rem solid rgba(255, 134, 134, 1);
}

.deviceWasherImage .circleView {
  position: relative;
  top: 0;
  left: 0;
}

.deviceWasherImage .circleView .air_info {
  width: 100%;
  position: absolute;
  /*bottom: 15%;*/
  left: 0;
  top: 18%;
  text-align: center;
  vertical-align: middle;
}

.dirt_image {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 380px;
}

.dirt_status_bad {
  -webkit-animation: dirtyInputDisplay 4s linear infinite;
          animation: dirtyInputDisplay 4s linear infinite;
}

.dirt_status_fine {
  -webkit-animation: dirtyInputDisplay 5s linear infinite;
          animation: dirtyInputDisplay 5s linear infinite;
}

.dirt_status_good {
  -webkit-animation: dirtyOutputDisplay 5s linear infinite;
          animation: dirtyOutputDisplay 5s linear infinite;
}

@-webkit-keyframes dirtyInputDisplay {
  0% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }

  10% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }

  40% {
    -webkit-transform: scale(0.75,0.75);
            transform: scale(0.75,0.75);
  }

  70% {
    -webkit-transform: scale(0.46,0.46);
            transform: scale(0.46,0.46);
  }

  100% {
    -webkit-transform: scale(0.2,0.2);
            transform: scale(0.2,0.2);
  }
}

@-webkit-keyframes dirtyOutputDisplay {
  100% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }

  70% {
    -webkit-transform: scale(0.9,0.9);
            transform: scale(0.9,0.9);
  }

  40% {
    -webkit-transform: scale(0.75,0.75);
            transform: scale(0.75,0.75);
  }

  10% {
    -webkit-transform: scale(0.46,0.46);
            transform: scale(0.46,0.46);
  }

  0% {
    -webkit-transform: scale(0.2,0.2);
            transform: scale(0.2,0.2);
  }
}

.air_info {
  font-size: 0.9rem;
  color: white;
}

.air_info .air_info_level {
  font-size: 4rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.air_info .pmTempValue {
  font-size: .85rem;
  color: rgba(255,255,255,0.8);
}

.air_info .locationInfo {
  line-height: 0.9rem;
  font-size: 0.9rem;
  color: white;
  text-align: center;
  width: 100px;
  margin: 0 auto;
}

.air_info .locationInfo img {
  vertical-align: top;
  padding-right: 3px;
  width: 15px;
  height: 15px;
}

.air_info .pmTempValue span {
  padding-right: 8px;
  padding-left: 8px;
  display: inline-block;
}



.wave_animation {
  height: 60px;
  background-color: white;
  margin-top: -2px;
}

.diveceView .device_control {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
}

.device_control_relative {
  position: relative;
  width: 100%;
  margin-top: -0.8rem;
  height: 2rem;
  text-align: center;
  font-size: 13px;
  color: white;
}

.screen_life_relative {
  width: 100%;
  text-align: center;
  color: rgba(238, 238, 238, 0.6);
  padding-top: 5%;
  font-size: 13px;
}

.screen_life_relative div {
  line-height: 16px;
}

.screen_life_relative div img {
  vertical-align: top;
}

.screen_life_relative div span {
  margin-top: 1px;
}

.arrow_panel {
  height: 8%;
  width: 50%;
  min-height: 50px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
}

.arrow_panel img {
  margin-top: 0;
  width: 24px;
  height: 24px;
}

.device_control .wash_children_lock {
  position: absolute;
  left: 24px;
  top: 5px;
}

.device_control .wash_switch {
  position: absolute;
  right: 24px;
  top: 5px;
  z-index: 2;
}

.ControlPannelUpWave {
  position: relative;
  left: 0;
  width: 100%;
  top: -1px;
  z-index: 4;
  margin-top: -1px;
}

.device_panel {
  background-color: white;
  position: relative;
  text-align: center;
  height: 30%;
  bottom: 0;
  top: 0;
  margin-top: -3px;
  z-index: 4;
}

.device_panel h3 {
  font-size: 13px;
  color: #888;
}

.control_btn_list {
  margin-top: 10%;
  font-size: 13px;
  color: #919191;
}

.control_btn_list img {
  width: 30px;
  height: 30px;
}

.appMain_selected {
  /*color: #888;*/
}

.appMain_disabled {
  color: #ccc;
}

.globalDisable {
  color: rgba(255,255,255,0.3);
  opacity: 0.5;
}

.switchDisable {
  opacity: 0.5;
}

/****************************     btn     **************************/

/*btn list*/

.btn-title {
  font-size: 13px;
  color: #A9A9A9;
  text-align: center;
  margin-bottom: 1.5rem;
}

.btn-list {
  /* width: 100%; */
  padding: 0 1rem;
}

.btn-list dl {
  text-align: center;
  font-size: 14.5px;
}

.btn-list .selected {
  color: #ccc;
  opacity: 0.5;
}

.btn-list .unselected {
  color: #848484;
  opacity: 1;
}

.btn-list dl img {
  width: 48px;
  height: 48px;
}

.btn-list dl p {
  margin-top: 0.5rem;
}

/*时间设置组件*/

.timeSelect {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 99999;
}





.timeSelect>section:first-child {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 22.22rem;
  width: 100%;
  height: 100%;
}

.timeselect {
  height: 22.22rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
}

.timeselect>.selecttitle {
  height: 3.75rem;
  line-height: 3.75rem;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid transparent;
}

.timeselect>.selecttitle>.title {
  margin-left: 1.25rem;
  font-size: 16px;
  color: #848484;
}

.timeselect>.time {
  height: 14.67rem;
  position: relative;
  overflow: hidden !important;
}

.timeselect>.time>section.hour,
.timeselect>.time>section.minute {
  display: inline-block;
  height: 100%;
  z-index: 5;
  opacity: 0;
  position: absolute;
}

.timeselect>.time>section.hour {
  left: 0%;
}

.timeselect>.time>section.minute {
  left: 50%;
}

.timeselect>.time>.timetext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  line-height: 3.75rem;
  height: 3.75rem;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  box-sizing: border-box;
}

.timeselect>.time>.timetext>.hour {
  position: absolute;
  left: 33%;
  color: #666666;
  font-size: 14px;
}

.timeselect>.time>.timetext>.minute {
  position: absolute;
  left: 66%;
  color: #666666;
  font-size: 14px;
}

.timeselect>.time>.timetext>.status {
  display: none;
  position: absolute;
  /* right:10%;*/
  right: 12%;
  color: #666666;
  font-size: 14px;
}

.timeselect>.time>.timetext>.show {
  display: inline-block;
}

.timeselect>.time>.hourvalue,
.timeselect>.time>.minutevalue {
  width: 1.67rem;
  font-size: 18px;
  color: #323232;
  position: absolute;
  z-index: 4;
  text-align: center;
  margin-top: -2.73rem;
}

.timeselect>.time>.hourvalue {
  left: 25%;
}

.timeselect>.time>.minutevalue {
  left: 56%;
}

.timeselect>.time>.hourvalue>span,
.timeselect>.time>.minutevalue>span {
  line-height: 2.73rem;
  height: 2.73rem;
  display: block;
}

.timeselect>.time>.hourvalue>.line1,
.timeselect>.time>.minutevalue>.line1 {
  opacity: 0.2;
}

.timeselect>.time>.hourvalue>.line2,
.timeselect>.time>.minutevalue>.line2 {
  opacity: 0.5;
}

.timeselect>.time>.hourvalue>.line3,
.timeselect>.time>.minutevalue>.line3 {
  line-height: 3.75rem;
  height: 3.75rem;
}

.timeselect>.time>.hourvalue>.line4,
.timeselect>.time>.minutevalue>.line4 {
  opacity: 0;
}

.timeselect>.selectbtn {
  height: 3.75rem;
  line-height: 3.75rem;
  font-size: 16px;
  color: #515151;
  text-align: center;
  border-top: 1px solid #cccccc;
}

.timeselect>.selectbtn>span:nth-child(1) {
  text-align: left;
  padding-left: 1.25rem;
}

.timeselect>.selectbtn>span:nth-child(2) {
  text-align: right;
  padding-right: 1.25rem;
}

.airStatePage {
  width: 100%;
  height: 65%;
  background-color: rgba(56,173,255,1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

/*开关机动画*/

.slide-up {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.slide-down {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.slide-down,
.slide-up {
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.airPage_downButton {
  text-align: center;
  height: 30px;
  width: 50%;
  margin: 0 auto;
}

.airPage_downButton img {
  width: 24px;
  height: 24px;
}

.echart_main {
  width: 100%;
  height: 48%;
  position: relative;
  top: 0;
  left: 0;
}

.airStatePage  .chartTitle {
  color: white;
  font-size: 14px;
  position: relative;
}

.airStatePage .chartTitle .chartAirTitle {
  display: inline-block;
  padding-left: 4%;
}

.airStatePage .chartTitle .timeSelectBtn {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 4%;
  height: 17px;
}

.airStatePage .timeSelectBtn img {
  width: 15px;
  height: 15px;
  vertical-align: top;
  padding-right: 2px;
  padding-left: 2px;
}

.airStatePage .timeSelectBtn span {
  line-height: 17px;
}

.airStatePage  .echart_main {
  margin-top: 1%;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../image/weather/weatherBag1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  scrollbar-base-color: rgba(255,255,255,0);
  scrollbar-highlight-color: rgba(255,255,255,0);
  scrollbar-track-color: rgba(255,255,255,0);
}

::-webkit-scrollbar {
  width: 0;
}

.weatherView {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
}

.weatherView .paddingContent {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.todayweather {
  height: 20%;
  width: 100%;
  padding-left: 10px;
  color: #ffffff;
  box-sizing: border-box;
}

.todayweather .todayweatherAir,
.todayweather .todayweatherImage {
  display: inline-block;
  height: 70px;
}

.todayweather .todayweatherAir {
  vertical-align: top;
}

.todayweather  .todayweatherImage img {
  width: 98px;
  height: 71px;
  padding-right: 8px;
}

.todayweather .todayweatherAir .todayweatherTemp {
  font-size: 30px;
}

.todayweather .todayweatherAir .todayweatherPm {
  font-size: 13px;
}

.weatherView .sevenForecastChartContainer {
  height: 30%;
  width: 100%;
  border-top: 1px solid rgba(255,255,255, 0.2);
  font-size: 24px;
}

.sevenForecastChartHight {
  height: 50%;
  width: 100%;
}

.sevenForecastChartLow {
  height: 50%;
  width: 100%;
}

.sevenForecastTitle {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 13px;
}

.sevenForecastChart {
  height: 100%;
  width: 100%;
  border-top: 1px solid rgba(255,255,255,0.2);
}

.sevenForecastTemp {
  width: 100%;
  color: white;
  font-size: 12px;
  padding-bottom: 0px;
}

.sevenForecastOneDayTemp {
  height: 7%;
  padding-top: 8px;
}

.sevenForecastOneDayTemp .week {
  padding-left: 20px;
}

.sevenForecastTemp .weekWeatherImage {
  text-align: center;
}

.sevenForecastTemp .weekWeatherTemp {
  text-align: right;
  padding-right: 20px;
}

.sevenForecastTemp .weekWeatherTemp span {
  padding-left: 12px;
}

.sevenForecastTemp .weekWeatherImage img {
  width: 29px;
  height: 21px;
}

.EmitterCSSAnimationContainer {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 400px;
  perspective: 400px;
  /*overflow: hidden;*/
}

.EmitterCSSAnimationContainer .layerzoom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  -webkit-animation: zoom 20s linear infinite;
          animation: zoom 20s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.EmitterCSSAnimationContainer .layerscale {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  -webkit-animation: scale 20s linear infinite;
          animation: scale 20s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.layerscale:nth-child(1) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.layerscale:nth-child(2) {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.layerscale:nth-child(3) {
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
}

.layerscale:nth-child(4) {
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
}

.layerscale:nth-child(5) {
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

/*.layerscale:nth-child(6) {*/

/*animation-delay: -12s;*/

/*}*/

/*.layerscale:nth-child(7) {*/

/*animation-delay: -14s;*/

/*}*/

/*.layerscale:nth-child(8) {*/

/*animation-delay: -16s;*/

/*}*/

/*.layerscale:nth-child(9) {*/

/*animation-delay: -18s;*/

/*}*/

/*.layerscale:nth-child(10) {*/

/*animation-delay: -20s;*/

/*}*/

/*.layerscale:nth-child(11) {*/

/*animation-delay: -11s;*/

/*}*/

/*.layerscale:nth-child(12) {*/

/*animation-delay: -12s;*/

/*}*/

/*.layerscale:nth-child(13) {*/

/*animation-delay: -13s;*/

/*}*/

/*.layerscale:nth-child(14) {*/

/*animation-delay: -14s;*/

/*}*/

/*.layerscale:nth-child(15) {*/

/*animation-delay: -15s;*/

/*}*/

/*.layerscale:nth-child(16) {*/

/*animation-delay: -16s;*/

/*}*/

/*.layerscale:nth-child(17) {*/

/*animation-delay: -17s;*/

/*}*/

/*.layerscale:nth-child(18) {*/

/*animation-delay: -18s;*/

/*}*/

/*.layerscale:nth-child(19) {*/

/*animation-delay: -19s;*/

/*}*/

/*.layerscale:nth-child(20) {*/

/*animation-delay: -20s;*/

/*}*/

/*.layerscale:nth-child(21) {*/

/*animation-delay: -21s;*/

/*}*/

.layerzoom:nth-child(1) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.layerzoom:nth-child(2) {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.layerzoom:nth-child(3) {
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
}

.layerzoom:nth-child(4) {
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
}

.layerzoom:nth-child(5) {
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

/*.layerzoom:nth-child(6) {*/

/*animation-delay: -12s;*/

/*}*/

/*.layerzoom:nth-child(7) {*/

/*animation-delay: -14s;*/

/*}*/

/*.layerzoom:nth-child(8) {*/

/*animation-delay: -16s;*/

/*}*/

/*.layerzoom:nth-child(9) {*/

/*animation-delay: -18s;*/

/*}*/

/*.layerzoom:nth-child(10) {*/

/*animation-delay: -20s;*/

/*}*/

/*.layerzoom:nth-child(11) {*/

/*animation-delay: -11s;*/

/*}*/

/*.layerzoom:nth-child(12) {*/

/*animation-delay: -12s;*/

/*}*/

/*.layerzoom:nth-child(13) {*/

/*animation-delay: -13s;*/

/*}*/

/*.layerzoom:nth-child(14) {*/

/*animation-delay: -14s;*/

/*}*/

/*.layerzoom:nth-child(15) {*/

/*animation-delay: -15s;*/

/*}*/

/*.layerzoom:nth-child(16) {*/

/*animation-delay: -16s;*/

/*}*/

/*.layerzoom:nth-child(17) {*/

/*animation-delay: -17s;*/

/*}*/

/*.layerzoom:nth-child(18) {*/

/*animation-delay: -18s;*/

/*}*/

/*.layerzoom:nth-child(19) {*/

/*animation-delay: -19s;*/

/*}*/

/*.layerzoom:nth-child(20) {*/

/*animation-delay: -20s;*/

/*}*/

/*.layerzoom:nth-child(21) {*/

/*animation-delay: -21s;*/

/*}*/

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: perspective(400px) translate3d(0, 0, -400px);
            transform: perspective(400px) translate3d(0, 0, -400px);
  }

  100% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 400px);
            transform: perspective(400px) translate3d(0, 0, 400px);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: perspective(400px) translate3d(0, 0, -400px);
            transform: perspective(400px) translate3d(0, 0, -400px);
  }

  100% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 400px);
            transform: perspective(400px) translate3d(0, 0, 400px);
  }
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: perspective(400px) translate3d(0, 0, -400px);
            transform: perspective(400px) translate3d(0, 0, -400px);
  }

  0% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 400px);
            transform: perspective(400px) translate3d(0, 0, 400px);
  }
}

@keyframes scale {
  100% {
    -webkit-transform: perspective(400px) translate3d(0, 0, -400px);
            transform: perspective(400px) translate3d(0, 0, -400px);
  }

  0% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 400px);
            transform: perspective(400px) translate3d(0, 0, 400px);
  }
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 1px;
  box-sizing: border-box;
  background-color: #fff;
}

/*@import url('./YYEmitterCSSAnimation.css');*/

/*@import url('./YYImageAnimation.css');*/