doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
  
    script(src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js')

    //- script(src='https://cdn.bootcss.com/react/15.4.2/react.min.js')
    //- script(src='https://cdn.bootcss.com/react/15.4.2/react-dom.min.js')
    //- script(src='https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js')
    

    script(src='../../household/common/static/hetsdk.js')
    //- script(src='http://10.8.6.30:8080/target/target-script-min.js#anonymous')
    

    block css
      link(rel='stylesheet', href='../../household/wxbluetooth/static/css/style.css')
    block js
      //- if ENV_DEVELOPMENT
      //-   script(src='http://localhost:35729/livereload.js')
  body
    block content
   
    
    
